.login-box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 10rem;

    &__icon {
        height: 6rem;
        width: 6rem;
        margin-bottom: 1rem;
    }
}
